.card {
  width: 300px;
  border-radius: 18px;
  background-color: $primary-bg;
  border: 1px solid $accent-mix;
  overflow: hidden;
  flex-grow: 1;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__label {
    color: $secondary;
  }

  &__img {
    width: 300px;
    height: 140px;
    border-bottom: 1px solid $accent-mix;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: $secondary;
    flex-grow: 1;
  }
}
.accent {
  color: $accent-light;
}

.descr__container {
  display: flex;
  flex-direction: column;
  height: 135px;
  padding: 10px;
}
