.code__snipp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 15px;
  background-color: $primary-bg--op;
  border: 1px solid $accent-mix;
  color: $secondary-semi;
  user-select: none;
  &--top {
    position: absolute;
    top: -90px;
    left: -100px;
  }
  &--bottom-r {
    position: absolute;
    top: 90%;
    right: -10%;
  }
}
