.content__container {
  position: relative;
  width: 1200px;
  border-radius: 15px;
  background-color: $primary-bg--op;
  border: 1px solid $accent-mix;
  height: 500px;
}

.content__projects {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content__cards {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, 1fr);
}
