$primary-bg: #011221;
$primary: #070707;
$secondary: #607b96;
$secondary-semi: rgba(96, 123, 150, 0.5);
$secondary-acc: #43d9ad;
$secondary-light: #ffffff;
$accent-skin: #e99287;
$accent-mix: #1e2d3d;
$accent-light: #4d5bce;
$accent: #7000ff;
$card-btn: #1c2b3a;
