.header {
  max-height: 128px;
  padding: 80px 0 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid $accent-mix;
  &__title {
    color: $secondary;
  }
}

.nav {
  &__list {
    display: flex;
  }
  &__item {
    max-width: 216px;
    &:not(:last-child) {
      border-right: 1px solid $accent-mix;
    }
  }
  &__link {
    display: block;
    padding: 24px 24px;
    color: $secondary;
    @extend %transition;
    &:hover {
      @extend %transition;
      color: $secondary-light;
    }
    &--active {
      color: $secondary-light;
      cursor: default;
      user-select: none;
      &:hover {
        color: $secondary-light;
      }
    }
  }
}
